layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        format_left "{session}{tabs}"
        format_right "{swap_layout}{pipe_k8s_info}{pipe_aws_info}{pipe_gcp_info}"

        pipe_k8s_info_format " {output}"
        pipe_k8s_info_rendermode "dynamic"

        pipe_aws_info_format " {output}"
        pipe_aws_info_rendermode "dynamic"

        pipe_gcp_info_format " {output}"
        pipe_gcp_info_rendermode "dynamic"

        mode_normal "#[fg=#f38ba8] {name}"
        mode_locked "#[fg=#f38ba8] {name}"

        tab_normal "#[fg=#6c7086] {name}"
        tab_active "#[fg=#cdd6f4,bold] {name}"

        swap_layout_format " #[fg=#6c7086] {name}"
      }
    }
    pane size=1 borderless=true {
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        format_left "{command_euro_currency}"
        format_right "{command_cpu_info} {command_mem_info} {command_disk_info}"

        command_euro_currency_command "bash -c '$HOME/.config/zellij/scripts/euro.sh"
        command_euro_currency_format "{stdout}"
        command_euro_currency_interval "0"
        command_euro_currency_rendermode "dynamic"

        command_cpu_info_command "bash -c '$HOME/.config/zellij/scripts/cpu-info.sh'"
        command_cpu_info_format "{stdout}"
        command_cpu_info_interval "2"
        command_cpu_info_rendermode "dynamic"

        command_mem_info_command "bash -c '$HOME/.config/zellij/scripts/mem-info.sh'"
        command_mem_info_format "{stdout}"
        command_mem_info_interval "2"
        command_mem_info_rendermode "dynamic"

        command_disk_info_command "bash -c '$HOME/.config/zellij/scripts/disk-info.sh'"
        command_disk_info_format "{stdout}"
        command_disk_info_interval "0"
        command_disk_info_rendermode "dynamic"
      }
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
