layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left "{session} {tabs}"
                format_right "{command_k8s_context} {pipe_aws_profile} {pipe_gcp_info} {swap_layout}"

                command_k8s_context_command "bash -c 'KUBECONFIG=$KUBECONFIG $HOME/.config/zellij/scripts/k8s-context.sh'"
                command_k8s_context_format "{stdout}"
                command_k8s_context_interval "5"
                command_k8s_context_rendermode "dynamic"

                pipe_aws_profile_format "{output}"
                pipe_aws_profile_rendermode "dynamic"

                pipe_gcp_info_format "{output}"
                pipe_gcp_info_rendermode "dynamic"

                mode_normal "#[fg=#f38ba8] {name} "
                mode_locked "#[fg=#f38ba8] {name} "

                tab_normal "#[fg=#6c7086] {name} "
                tab_active "#[fg=#cdd6f4,bold] {name} "

                swap_layout_format "#[fg=#6c7086] {name} "
            }
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
