configuration {
	modi: "ssh,window,calc";
	width: 25;
	lines: 8;
	columns: 1;
	font: "Fira Mono 12";
	location: 0;
	padding: 10;
	sidebar-mode: false;
	hide-scrollbar: true;
	fullscreen: false;
	fake-transparency: true;
	color-normal: "#282A36, #ebdbb2, #282A36, #458588, #1d2120";
	color-urgent: "#282A36, #69584E, #1d2120, #69584E, #ebdbb2";
	color-active: "#282A36, #ebdbb2, #1d2120, #458588, #1d2120";
	color-window: "#282A36, #282A36, #282A36";
}
