[Desktop Entry]
Version=1.0
Name=Lock
Type=Application
Comment=Lock system with i3lock
Terminal=false
Exec=betterlockscreen -l dim
Categories=Application;
GenericName=Lock system
Keywords=system;lock
